.demo {
  display: flex;
  height: 100vh;
}

.sidebar {
  border-right: 1px solid #eee;
  margin-left: -32px;
  margin-top: -32px;
}

.sidebar a {
  display: block;
  padding: 8px 24px;
  color: rgba(0, 0, 0, 0.7);
}

.sidebar a.active {
  background: #f8f8f8;
  color: #000;
}

.content {
  padding-left: 32px;
}
